    h1{
          text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }
    .tabla tr{
        background-color: rgb(244, 243, 243);
    }
    .tabla td{
        border: 3px solid rgb(0, 0, 0);
        text-align: center;
    }
    .contenedor{
        display: grid;
        padding-top: 20px;
    }
    .flexbox{
    font-weight: 900;
    color: yellow;
    font-style: italic;
}

nav ul{
    /*mostrando la barra de menu de manera horizontal*/
    display: flex;
    flex-direction: row;
    padding: 150px;
    /*justificar izquierda o derecha del menu*/
    justify-content: flex-start;
    justify-content: center;
    /*fodificacion del tamano*/
    font-size:1rem ;
    text-align: center;
    
}
li a{
    color: black;
    text-decoration: none;
    padding: 20px 50px;
    border: 1px solid rgb(0, 7, 102);
    text-align: center;
    border-radius: 50px;
    box-shadow: 3px 0 3px 3px rgb(65, 63, 63);
}
ul li{
    padding-right: 70px;
    list-style: none;
}
a:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
}